In [ ]:
rango = range(1, 10, 1) # [1, 2, 3, 4, 5, 6, 7, 8, 9]
iterator = iter(rango)

print(iterator), print(range)

<range_iterator object at 0x7d39e8283cf0>
<class 'range'>

(None, None)

In [16]:
next(iterator)

StopIteration:

In [24]:
for i in range(1, 20):
    # Codigo
    print(i)

for i in range(20):
    # Codigo
    print(i)

for i in range(0, 20, 5):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
5
10
15

In [29]:
lista = [2, 4, 6, 8]

for i in lista:
    print(i * 10)

for i in range(len(lista)):
    print(lista[i] * 10)

for _ in range(10):
    print("hola mundo")

20
40
60
80
20
40
60
80
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [34]:
string = "Hola Mundo"

for i in string:
    print(i)

for i in string:
    # if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    if i in "aeiou":
        print(i)

H
o
l
a

M
u
n
d
o
o
a
u
o

In [37]:
string = "tarea casa helado"

string[:11]

new_string = ""

for i in string:
    if i == "h":
        break
    new_string = new_string + i

print(new_string)

tarea casa

In [ ]:
string = "tarea casa helado"

new_string = ""

for _ in string:
    new_string = _ + new_string

print(new_string)

odaleh asac aerat

In [42]:
lista = [90, 100, 1, 5, 10]

acum = 0

for i in lista:
    acum = acum + i

print(acum)

206

In [43]:
90 * 100 * 1 * 5 * 10

450000